*.class
bin/
*.log
*.log.*
.classpath
.project
.settings
lib/
resources/sound3/
stats/
crash-reports/
resources/music/
resources/newmusic/
resources/newsound/
resources/pe/humble.png
resources/sound/
resources/streaming/
saves/
